# Packages
# ---------------------------------------------------**
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Python and Pycharm
# ---------------------------------------------------**
.idea
.idea/
__pycache__/*
*.pyc
.python-version
.ipynb_checkpoints


# MacOS
# ---------------------------------------------------**
.DS_Store
.DS_Store?


# Others
# ---------------------------------------------------**
*.pickle
*.log
*.png
*.csv
